/* Author     : Ruwan Jayawardena | Freelancer Web Developer @2020 Sri Lanka */
.grey-lighten {
	background-color: #f5f5f5 !important;
}
.usr-profile-avatar {
    min-width: 50px!important;
    min-height: 50px!important;
}
.grey-lighten2 {
    background-color: #f5f5f542!important;
}
.blue-lighten {
	background-color: #2cb7d6 !important;
}
.blue-lighten2 {
    background: #f6f9fc;
}
.bg-gradient {
    background: linear-gradient(to right, #d8ccd57d 0%, #a5a5a5 30%, #ff91b2 100%) !important;
}
.bg-gradient-blue {    
    background: linear-gradient(to right, #247aec 0%, #84b4f3 30%, #737171 100%) !important;
    color: white!important;
    font-weight: 200!important;
}
.main-wrapper{
	/*body hight set to maximum becasue footer need to always on bottom end*/
	flex: auto; 
	width: 100%;
}
.btn-primary {
    background-color: #7eb1f3;
    border-color: #7eb1f3;
}
.btn-primary:hover {
    background-color: #538eda;
    border-color: #538eda;
}

#carouseHomePage img {
    height: 400px!important;
	object-fit: cover!important;
}

#carouseHomePage .carousel-caption p{
	font-weight: 300;
    color: #ffffff;
    background-color: #4c4848;
    font-size: 1rem!important;
    text-transform: capitalize;
    padding: 5px 10px;
    border-radius: 0.75rem;
}

#carouseHomePage .carousel-caption h5{
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.04rem;
}
.card-flip-categories img.card-img-top {
    width: 100vw;
    height: 210px;
    object-fit: cover;
}
.card-flip-categories .card-flip-back {
    background-color: #f4f5f775!important;
}

.undergroud-texture{
    background-size: cover;
    background-image: url(../img/textures/overlay.svg),linear-gradient(45deg, #340c75 0%, #e60095 100%);
    color: #fff;
    padding: 5rem 0;
}
.undergroud-texture2{
    background-size: cover;
    background-image: url(../img/textures/overlay.svg),linear-gradient(45deg, #4b4b58 0%, #c1209f 100%);
    color: #fff;
    padding: 5rem 0;
}

.card{
	cursor: pointer!important;
}

.cusm-1 {
	/*custom margin*/
    margin: 0.1rem;
}
/*datatable*/
.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0.05rem!important;
	border: 1px solid #0000001a!important;
    border-radius: 0.75rem!important;
}

/*table*/
.table-light th, .table-light td, .table-light thead th, .table-light tbody + tbody {   
	border-color: #738ea917;
}
.table-light {
    --bs-table-hover-bg: #e6f2fd!important;
}

/*fotorama*/
.fotorama__thumb {
    border-radius: 0.75rem!important;
}
.fotorama__thumb-border {
    border-radius: 0.75rem!important;
    border-color: #125ee8!important;
	/*margin: 0.75rem 0.15rem!important;*/
}
.fotorama__wrap--slide .fotorama__stage__frame {
    border-radius: 0.4rem;
}

/*template change*/
.dropdown-toggle::after {
    border-top: none!important;
}
/*Sweetalert2 */
.swal2-popup {
    border-radius: .5125em!important;
    background: #f9f8f8!important;
}
.swal2-title {
    color: #000000!important;
}
/* Bootstrap sweetalert 1.0.1 */
.sweet-alert {
    background-color: #f9f8f8!important;
	border-radius: .5125em!important;
	box-sizing: border-box;
    justify-content: center!important;
    width: 32em!important;
    max-width: 100%!important;
    padding: 1.25em!important;
}
.sweet-alert h2{
    color: #000000!important;
}
.sweet-alert .sa-icon{   
    margin: 1.25em auto 1.875em!important;    
}
.sweet-alert .sa-icon.sa-success::after, .sweet-alert .sa-icon.sa-success::before {
    background: #ffffff03!important;
}
.sweet-alert .sa-icon.sa-success .sa-fix {
    background-color: #fff0!important;
}


.sweet-alert p{
	color: #545454!important;
    font-size: 1.125em!important;
    font-weight: 400!important;
    line-height: normal!important;
    text-align: center!important;
}

.sweet-alert .btn {
    border: 0!important;
    border-radius: .25em!important;
    font-size: 1.0625em!important;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #0a0638!important;
    background-color: #c3dcf5!important;
    border-color: rgb(42 148 255)!important;
}


/*header*/
header .btn-outline-secondary {
    border-color: #86898c!important;
}
header .btn-outline-secondary:hover {
	/*border-width: 2px!important;*/
	font-size: 0.99rem!important;
}
header .navbar-light .navbar-nav .nav-link {
    color: #222222;
}
header .topbar {
    padding: 0!important;
}

.btn-scroll-top {
    background-color: rgb(14 14 14 / 35%);
    color: #fff !important;
}
header .logoText {
	/*    background-color: #263340;
		color: white;
		padding: 0.5625rem 1.25rem;
		border-radius: 0.4rem;*/
    background-color: #6098fd05;
    color: #075bf3;
    letter-spacing: 0.3rem;
    padding: 0.5625rem 1.25rem;
    border-radius: 0.4rem;
    border: 1px solid #2671fb0a;
    text-transform: uppercase;
    font-weight: 300;
}
header .fa-inverse {
    color: #DF265E!important;
}
header .badge-dark {
    background-color: #655f69!important;
    /*background-color: #270817b5!important;*/
}

header .fa-inverse {
	/*    color: #DF265E!important;
		font-size: 0.95rem!important;*/
	color: #f36992!important;
    font-size: 1.01rem!important;
}
header  .navbar-expand-lg.navbar {
    padding-top: 0.3rem!important;
    padding-bottom: 0.4rem!important;
}
header .hvr-rectangle-out:before{
    background: #eceaea42 !important;
	border-radius: 4px;
}
header .nav-link:hover{
	color: black!important;
	font-weight: 600!important;
}
header .hvr-rectangle-out{
    background: #ffffff!important;    
}
header .form-control-search{
    padding: 10px 15px!important 
}

/*chosen*/
.chosen-container {
    font-size: 0.9rem!important;
}
.chosen-container .chosen-results li.group-result {
    color: #263340!important;   
    font-weight: 600!important;   
    font-size: 0.9rem!important;   
    /*text-transform: capitalize;*/
}
.chosen-container-single .chosen-single {
	border-radius: 0.55rem!important;
}
.chosen-container .chosen-drop {
    margin-top: .5rem !important;
    background: #fff!important;
    border-radius: 0.75rem!important;
    border: 1px solid #fff!important;
	padding: 0.5rem 0!important;
    /*margin: 0.125rem 0 0!important;*/
	box-shadow: -0.0625rem 0 0.625rem 0 rgba(0, 0, 0, 0.07), 0.3125rem 1.25rem 2.5rem 0 rgba(0, 0, 0, 0.04)!important;
}
.chosen-container-single .chosen-search input[type=text] {
    background-color: #f5f5f7!important;
    border: 1px solid #ffffff!important;
    border-radius: 0.65rem!important;
}
/* The emerging W3C standard that is currently Firefox-only */
.chosen-drop {
	scrollbar-width: thin;
	scrollbar-color: #7d7a7180 #2d2d2d1a;
}

/* Works on Chrome/Edge/Safari */
::-webkit-scrollbar {
	width: 6px;
}
::-webkit-scrollbar-track {
	background: #2d2d2d1a;
}
::-webkit-scrollbar-thumb {
	background-color: #7d7a7180;
	border-radius: 20px;
	/*border: 3px solid orange;*/
}

/*footer*/
footer {	
	/*background-color: #263340;*/
	background-color: #7f3e71;
}

footer .title-white {
	color: white;
	font-size: 1.1rem;
}

.dashboardwidget .card-title {
    min-height: .01px;
    font-weight: 400;
    font-size: 0.96rem;
    color: #44464a;
}

footer li::marker {
	color: white;
	display: none;
}

footer ul{
    padding-left: 0.2rem;
	list-style: none;
}

footer a {
	color: #d8ccd5!important;
	font-size: 0.9rem!important;
	text-decoration: none!important;
}
footer a:hover {
	color: white!important;
	font-size: 0.9rem!important;
	text-decoration: none!important;
}
footer hr {
	background-color: #ffffff70!important;
}
footer span.logoText {
	background: #ffffff;
	color: #5f3743;
	font-weight: 400;
	padding: 4px 9px;
	letter-spacing: 0.5px;
}
footer p {
	color: #e6d8e3!important;
	font-size: 0.906rem!important;
}


